account_id: ********
app_key: **************************
con_connections: 4
log_dir: /var/log
api:
  static_files:
  bind_ip: 0.0.0.0
  port: 8000
folders:
  - bucket_id: **************
    b2_folder: Testing
    root_folder: /backup/folder
    monitor: true
    hour: 0
    minute: 1
    delete_after_upload: false

